.header {
  background-color: var(--blue);
  color: white;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 6px 90px;
}
.logo {
  display: flex;
  font-size: 30px;
  font-weight: 500;
}
.logo p {
  margin: 15px 10px;
}
.buttons {
  display: flex;
  padding-top:10px;
}
.buttons div {
  display: flex;
  cursor: pointer;
}
.buttons p {
  font-size: 20px;
  margin: 10px 0 0 10px;
}
