.searchBar {
    height: 128px;
    border-radius: 1px;
    padding: 35px 70px;
    width: 80%;
    margin: -64px 10%;
    background-color: white;
    position: absolute;
    border-radius: 25px;
  }
  
  .dropdownSelect {
    width: 60%;
    border-radius: 15px;
    height: 50px;
    padding: 8px;
  }
  
  .dropdownButton {
    width: 30%;
    height: 50px;
    border-radius: 15px;
    margin-left: 5%;
    background-color: var(--darkBlue);
    color: white;
    border: none;
  }
  .bannerH2{
    margin-top: 100px;
    text-align: center;
  }